* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Inter, Roboto, sans-serif;
  background-color: #283339;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo {
  width: 50vw;
  height: 50vw;
  max-width: 400px;
  max-height: 400px;
  margin: 50px 0;
}

#countdown {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.4;
  padding: 8px;
  text-align: center;
}
